.iwe-rancher {
    .fixed-header-actions.row.clearfix {
        height: 80px !important;
    }

    .fixed-header {
        top: 80px !important;
    }
}

#iwe-rancher-search-panel {
    clear: both;
    text-align: right;
    padding: 8px 0;
    display: flex;
    justify-content: flex-end;
    gap: 26px;

    #iwe-rancher-search-buttons {
        display: flex;
        gap: 8px;
    }

    #iwe-rancher-search-setting {
        margin-right: 0;
    }
}

#iwe-rancher-settingtable {
    width: 100%;

    .add-row-button {
        background-image: url("../assets/plus.svg");
        background-size: 20px;
    }

    .remove-row-button {
        background-image: url("../assets/minus.svg");
        background-size: 20px;
    }

    .add-row,
    .remove-row {
        padding-left: 4px;
        width: 20px;

        > div {
            cursor: pointer;
            width: 20px;
            height: 20px;

            &:hover {
                background-color: #e3e3e3;
            }
        }
    }

    th {
        text-align: center;
        font-size: 1em;
        font-weight: 600;
    }

    tbody td {
        height: unset;

        &:not(:last-child) {
            border: 1px solid #bbb;
        }

        &.iwe-rancher-buttontext {
            width: 30%;
        }

        > input {
            width: 100%;
            outline: 0;
            padding: 4px;
            border: 0;
            text-align: center;
            transition: background-color 0.3s ease-in;

            &:hover {
                background-color: #fbfbfb;
            }

            &:focus {
                background-color: #f8f8f8;
            }
        }
    }
}
